name: Test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - develop
      - master

jobs:
  test:

    name: Jest
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Setup MongoDB
        uses: supercharge/mongodb-github-action@1.4.1
        with:
          mongodb-version: 4.4
          mongodb-port: 42069

      - name: Install dependencies
        run: yarn install

      - name: Run Jest
        run: yarn test:coverage
        env:
          MONGO_URI: "mongodb://127.0.0.1:42069/jest"
